*{
  margin: 0; padding:0 ; box-sizing: border-box; list-style: none; text-decoration: none;
}
.parent-div{ 
  width: 100%; min-height: 100vh; padding: 20px 100px;
 
}
.form-container{
  padding: 50px; width: 50%; margin: auto;
}
.form-container form{
  display: flex; flex-direction: column; gap: 20px;
}

.form{
  border: 1px solid rgb(198, 197, 197);
  width: 40%; margin: auto;
  padding: 50px 50px;
  border-radius: 10px;
  gap: 30px;
}

.form-control{
  margin: auto;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.form-control label{
  background: rgba(123, 168, 189, 0.66);
  padding: 10px; 
width: 120px;
/* font-weight: 500; */
/* color: rgb(81, 80, 80); */
text-align: left;
color: rgb(10, 0, 0);
border-radius: 3px;
text-align: center;
font-size: 13px;
/* border: 1px solid rgb(177, 177, 177); */
}

.form-control input{
  width: 100%;
  padding: 10px; 
  border: none;
  border-bottom: 1px solid gray;
  background-color: rgb(255, 255, 255);
}
.form-control input:focus{
outline: none;
}
.btn-div{
  text-align: right;
}
.btn-div .btn{
  margin-top: 10px;
  width: 72%;
  padding: 12px 0;
  border: none;
  background-image: linear-gradient(
    to right,
    rgba(20, 76, 102, 0.66),
    rgba(51, 116, 146, 0.66),
    rgba(56, 139, 178, 0.66)
  );
  border-radius: 5px;
  color: white; font-size: 16px;
  transition: 0.5s;
  background-size: 200% auto;
  letter-spacing: 1px;

 
}
.btn-div .btn:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
} 

.formgroups input{
  border: 1px solid;
}


.btn-div .btn {
  border: none;
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
  padding: 15px 45px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-div .btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
} 
.table-div{
  padding: 50px; width:70%; margin: auto;
}



/* Tailwind for forms3 */
.form-group input {
  @apply border;
  /* display: flex; flex-direction: column; */
}