*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  position: fixed;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container a{
  color: white;
  padding: 8px 15px;
}

.section-top{
  padding-top: 50px;
}