.form-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 214, 214);
  border-radius: 10px;
  margin: auto;
  margin: 50px 10%;
  padding: 40px;
  display: grid; grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  gap: 100px ;
}
.form {
  width: 100%;
  margin-top: 25px;
  padding: 0 50px;
}
.form .submit-btn {
  text-align: center;
}
.form h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: gray;
  font-weight: 400;
  color: #0071f2;
}
.input-area {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-container input {
  border: 1px solid rgb(189, 187, 187);
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  color: rgb(108, 108, 108);
}
.form-container select {
  border: 1px solid rgb(183, 180, 180);
  width: 100%;
  padding: 15px;
  padding-right: 20px;
  border-radius: 5px;
  color: rgb(141, 140, 140);
  outline: none;
}
.form-container select option {
  border: 1px solid rgb(205, 204, 204); 
  padding: 10px;
  border-radius: 5px;
  color: rgb(1, 17, 87);
  width: 100%;
}

.sub-btn {
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  color: rgb(1, 17, 87);
  text-align: center;
  background-color: #000810;
  color: white;
}

.table {
  width: 100%;
  /* min-width: 400px; */
}
.table h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: -12px;
  text-transform: uppercase;
  color: gray;
  font-weight: 400;
  color:indigo;
}
table th {
  font-weight: 500;
}
table {
  width: 100%;
  margin-top: 30px;
  border: 1px solid #eee;
  border-collapse: collapse;
}
table th {
  background: indigo;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px;
  font-size: 14px;
}
table td {
  text-align: center;
  padding: 8px;
  font-weight: 300;
}
table td:nth-child(2),
table td:nth-child(3) {
  text-align: left;
  padding-left: 5px;
}
table tr:nth-child(even) {
  background: #eee;
}
.Action-btn-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.Action-btn-div .btn:nth-child(1) {
  background: rgba(87, 214, 87, 0.718);
  border: none;
  /* border: 1px solid rgb(214, 213, 213); */
  box-shadow:  0 0 5px rgb(174, 174, 174);
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-right: 30px;
  border-radius: 5px;
  padding: 0 10px;
  border-radius: 5px;
}
.Action-btn-div .btn:nth-child(2) {
  background: rgba(232, 28, 28, 0.81);
  box-shadow:  0 0 5px rgb(174, 174, 174);

  border: none;
  color: rgb(8, 8, 8);
  font-size: 20px;
  padding: 0 10px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .form-container {margin: 50px 5%;}
  .form {
    padding: 0 30px;
  }
}

@media (max-width: 1020px) {
  .form-container {margin: 50px 3%;}
  .form {
    padding: 0 20px;
  }
 
}

@media (max-width: 769px) {
  .form-container {  padding: 5px;;}
  .form {
    padding: 0 10px;
  }

  .table h1 {
    font-size: 16px; 
  }
  table th {
    font-weight: 400;
  }
  table {
    width: 100%;
    margin-top: 30px;

  }
  table th {
    font-weight: 400;
    padding: 10px;
    font-size: 10px;
  }
  table td {
    text-align: center;
    padding: 8px;
    font-size: 10px;
    font-weight: 300;
  }
  table td:nth-child(2),
  table td:nth-child(3) {
    text-align: left;
    padding-left: 2px;
  }
  table tr:nth-child(even) {
    background: #eee;
  }
  .Action-btn-div {
    display: flex;
    justify-content: center;
    gap: 2px;
  }




}