#root {
  max-width: 1280px;
  margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth; text-decoration: none; list-style: none;
}
::after, ::before{
  margin: 0; padding: 0;
}
body{
  min-height: 100%; position: relative; width: 100%;
}
